CNN/checkpoints/NaiveCNN.pth filter=lfs diff=lfs merge=lfs -text
CNN/checkpoints/ModResNet.pth filter=lfs diff=lfs merge=lfs -text
CNN/checkpoints/ModResNet_groundup.pth filter=lfs diff=lfs merge=lfs -text
CNN/checkpoints/ filter=lfs diff=lfs merge=lfs -text
CNN/checkpoints/ModResNet34_groundup_1.pth filter=lfs diff=lfs merge=lfs -text
CNN/checkpoints/ModResNet50_groundup.pth filter=lfs diff=lfs merge=lfs -text
CNN/checkpoints/trial1/RN34ep_8.pth filter=lfs diff=lfs merge=lfs -text
CNN/checkpoints/trial1/RN34ep_12.pth filter=lfs diff=lfs merge=lfs -text
